.body{
    background-color: #F9F9F9 !important;
    font-family: "Open Sans" !important;
}
.main {
    background-color: #F9F9F9 !important;
}
.span1 {
    font-family: "Open Sans" !important;
    justify-content: center;
}
.espacio {
    padding-right: 50px;
}

.menuPrincipal {
    font-family: "Open Sans";
    color: black;
    font-size: 17px;
}

.info {
    font-family: "Open Sans";
    color: black;
    font-size: large;
    text-justify: auto;
}
.infoFooter {
    font-family: "Open Sans";
    color: white;
    font-size: large;
    text-justify: auto;
}
.subtituloFondo {
  background-color: #013F64;
  height: 100%;
  width: 100%;
}
.subtitulo {
    text-transform: capitalize;
    font-weight: bold;
    font-size: x-large;
    color: rgb(255, 255, 255);
    text-shadow: black 0.1em 0.1em 0.2em;
    height: 100%;
    width: 100%;
}

.dropdown-menu{
    background-color: #F9F9F9 !important;
    font-family: "Open Sans" !important;
}
.dropdown-menu :hover{
    background-color:#ececec !important;
    font-family: "Open Sans" !important;
}

header.masthead {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: rgb(255, 255, 255);
    background-image: url("./../../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    text-shadow: black 0.1em 0.1em 0.2em;

  }
  .espacioTitle {
    height: 50px;
  }
  header.masthead .masthead-subsubheading {
    font-size: 1.5rem;
    font-style: normal;
    line-height: 1.5rem;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-shadow: black 0.1em 0.1em 0.2em;
    background-color: #013F64;
    height: 100%;
    width: 100%;
  }
  header.masthead .masthead-subheading {
    font-size: 1.5rem;
    font-style: normal;
    line-height: 1.5rem;
    margin-bottom: 25px;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-shadow: black 0.1em 0.1em 0.2em;
  }
  header.masthead .masthead-heading {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-shadow: black 0.1em 0.1em 0.2em;
  }
  
  @media (min-width: 768px) {
    header.masthead {
      padding-top: 17rem;
      padding-bottom: 12.5rem;
    }
    header.masthead .masthead-subheading {
      font-size: 2.25rem;
      line-height: 2.25rem;
      margin-bottom: 2rem;
    }
    header.masthead .masthead-heading {
      font-size: 4.5rem;
      font-weight: 700;
      line-height: 4.5rem;
      margin-bottom: 4rem;
    }
    header.masthead .masthead-subsubheading {
      font-size: 1.5rem;
      line-height: 1.5rem;
      margin-bottom: 2rem;
    }
  }




