.texto {  
	font-family: Arial, Verdana, Sans-serif; 
	font-size: 11px; 
	line-height: 14px; 
	font-weight: normal; 
	color: #333333; 
	text-decoration: none
}
.texto .rojo {  
	font-family: Arial, Verdana, Sans-serif; 
	font-size: 11px; 
	line-height: 14px; 
	font-weight: bold; 
	color: #C20102;
	text-decoration: none
}
.combo {
	background-color: #C5D5CA;
	font-family: Arial, Verdana, Sans-serif; 
	font-size: 10px; 
	font-weight: normal; 
	color: #333333;
	text-align: right;
}
.combo .abajo {
	background-color: #C5D5CA;
	font-family: Arial, Verdana, Sans-serif; 
	font-size: 10px;
	color: #C20102; 
	text-decoration: none;
	text-align: center;
	border-top: 1px solid #FFFFFF;
	height: 15px
}
.combo .abajo a {
	color: #C20102; 
	text-decoration: none
}
.combo .abajo a:hover {
	color: #C20102; 
	text-decoration: underline;
}
.seccion {
	width: 92px;
}
.subSeccion {
	background-color: #FFFFFF;
	/* border-top: 1px solid red; */
	/* border-top: 1px solid #396EA4; */
	height: 17px;
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	color: #003366;

}
.subSeccionServicios {
	background-color: #8395B9;	
	border-top: 1px solid #2D642B;
	height: 17px;
}
.subSeccionCuentas {
	background-color: #84B3C7;	
	border-top: 1px solid #2D642B;
	height: 17px;
}
.fecha {
	background-color: #EAEAE8;
	font-family: Arial, Verdana, Sans-serif; 
	font-size: 10px;
	color: #333333; 
	text-decoration: none;
	border-top: 1px solid #CFDBDB;
	height: 26px
}
.fdoFecha {
	font-family: Arial, Verdana, Sans-serif; 
	font-size: 10px;
	color: #333333; 
	text-decoration: none;
	text-align: right;
	height: 29px;
	border-top: 4px solid #2D642B;
	border-bottom: 1px solid #2D642B;
}
.separadorHeader {
	/* border-top: 4px solid #000000; */
}
.tabla {
	font-family: Arial, Verdana, Sans-serif; 
	font-size: 11px;
	color: #333333; 
	border: 1px solid #012942;
	border-right: none; 
}
.tabla .head {
	font-family: Arial, Verdana, Sans-serif; 
	font-size: 11px;
	font-weight: bold;
	color: #012942; 
	background-color: #84B3C7;
	border-right: 1px solid #012942;
	border-bottom: 1px solid #012942;
	height: 20px;
}
.tabla .tdOscura {
	background-color: #C9DDE6;
	border-right: 1px solid #012942;
	border-top: 2px solid #FFFFFF;
	text-align: right;
	height: 20px;
}
.tabla .tdClara {
	background-color: #E1ECF0;
	border-right: 1px solid #012942;
	border-top: 2px solid #FFFFFF;
	padding-left: 10px;
	height: 20px;
}
.tabla .tdClaraRight {
	background-color: #E1ECF0;
	border-right: 1px solid #012942;
	border-top: 2px solid #FFFFFF;
	text-align: right;
	padding-right: 10px;
	height: 20px;
}
.tabla .tdClaraRight a {
	color: #C20102;
}
.footer {
	font-family: Arial, Verdana, Sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #C20102;
	text-decoration: none
	border-top;
	text-align: center;
: 1px solid #2D642B;
}
.footer a {
	color: #C20102; 
	text-decoration: none
}
.footer a:hover {
	color: #C20102; 
	text-decoration: underline
}
.footer .separador {
	border-top: 1px solid #2D642B;
}
.titulo {
	background-image: url(../images/fdo_titulo.gif);
}
.box {
	color: #CCCCCC;
}
.box .top {
	
}
.box .bottom {
	
}
.box .left {
	
}
.box .right {
	
}
BODY {
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: center;
}
INPUT{
	font: 9px;
	font-family: Arial, Verdana, Sans-serif;
	color: #666666;
	border: 1px solid #666666;
}
INPUT.search{
	font: 9px;
	font-family: Arial, Verdana, Sans-serif;
	color: #666666;
	border: 1px solid #666666;
	width: 80px;
}
SELECT{
	font-family: Arial, Verdana, Sans-serif;
	font-size: 9px;
	color: #666666
}
.submenu{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bolder;
	color: #275473;
	text-decoration: none;
	height: 15px;
	text-align: center;
	font-weight: bolder;


: 1px solid #2D642B;
}
.submenu a {
	color: #303030;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	height: 15px;
	text-align: center;
	font-weight: bolder;
	font-style: normal;
	text-decoration: none;



}
.submenu a:hover {
	color: #999999;
	text-decoration:  none;
	text-align: center;
	height: 17px;	
	background-color: #003399;
}

.SubmenuText {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	/* color:#FFFFFF; */
	color:#FFFFFF;
	font-weight: bold;
	/* background-color: #003366;  */
	background-color: #5998C8;
	text-decoration: none;
    }
.SubmenuText1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	color:#FFFFFF;
	font-weight: bold;
	background-color: #003366;
	text-decoration: none;

    }
.SubmenuText2 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color:#CCCCFF;
	font-weight: bold;
	background-color: #003366;
	text-decoration: none;

    }
    
.SubmenuTextAzulClaro {

	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: normal;
	color: #003366;
	font-weight: bold;
	/* background-color: #006699; */
	background-color: #EAEAE8;
	
}


.calendario{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #275473;
	text-decoration: none;
	height: 7px;
	text-align: center;
	font-weight: bolder;

}
.calendario a {
	color: #303030;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	font-weight: bolder;
	font-style: normal;
	text-decoration: none;


}
.calendario a:hover {
	color: #999999;
	text-decoration:  none;
	text-align: center;
	height: 7px;	
	background-color: #526D9C;
}

.renglones
{color: #000000;
font-family: Arial, Helvetica, sans-serif;
font-size: 9pt;
font-style: normal;
line-height: 15px;
text-decoration: none;
text-transform: none;
vertical-align: middle}

.legal
{
	color: #003366;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	line-height: 15px;
	text-decoration: none;
	text-transform: none;
	vertical-align: middle;
	font-weight: bold;
}

.legalarta
{
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	line-height: 15px;
	text-decoration: none;
	text-transform: none;
	vertical-align: middle;
	font-weight: normal;
}

.legalarta1
{
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	line-height: 15px;
	text-decoration: none;
	text-transform: none;
	vertical-align: middle;
	font-weight: bold;
}


.legal1
{
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 15px;
	text-decoration: none;
	text-transform: none;
	vertical-align: middle;
	font-weight: bold;
}

.borderblue
{
	scrollbar-base-color : #003366; scrollbar-arrow-color : #FFFFFF;
}

.TituloCampoC { 
	font-family: Verdana, Arial, Sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000 
	}

.TituloTabla {  
	background-color:  #00000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-align: center
	}



.titulos
{color: #FBC590;
font-family: Arial, Helvetica, sans-serif;
font-size: 9pt;
font-style: normal;
line-height: 15px;
text-decoration: none;
text-transform: none}

.imprimir
{
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7pt;
	font-style: normal;
	line-height: 18px;
	text-decoration: none;
	text-transform: none;
	vertical-align: middle;
	font-weight: normal;
	font-variant: normal;


	
}

.imprimirScore
{
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-style: normal;
	line-height: 18px;
	text-decoration: none;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;


	
}
.imprimirtitulos
{
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-style: normal;
	line-height: 12px;
	text-decoration: none;
	text-transform: none;
	vertical-align: middle;
	font-weight: bolder;

	
}
.imprimirsubtitulos
{
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	line-height: 12px;
	text-decoration: none;
	text-transform: none;
	vertical-align: middle;
	font-weight: bolder;



	
}

.imprimirsubtitulosScore
{
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-style: normal;
	line-height: 12px;
	text-decoration: none;
	text-transform: none;
	font-weight: bolder;



	
}

.title {
	background-image: url(../images/fdo_titulo.gif);
}

.textTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bolder;
	text-transform: none;
	color: #003366;
}

.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;


}

.text a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
}

.text a:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #336633;
}


.optionTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #336633;
}
.textInformation {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.textInformationRed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;

}
.textInformationRed a{
	color: #000000;
}

.textInformationRed a:hover{
	color: #000000;
}

.textOption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #99CC66;
	cursor: hand;
	cursor: pointer;
}
.textSmall {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
}
.seleccionado {
	background-color: #993333;
}
.textHand {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	cursor: hand;
	cursor: pointer;

}

.textHand td:hover{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	cursor: hand;
	cursor: pointer;
	color:#336633;
	background-color: #66CC33;


}
.bluetext {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #526D9C;
}
.textbox {
	font-family: "Times New Roman", Times, serif;
	font-size: 9px;
	height: 9px;
	width: 9px;
}

.tablaCampo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #003366;
}
.mandraker1 {
	overflow: scroll;
	position: absolute;
	z-index: auto;
	height: auto;
	width: auto;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
	clip:  rect(auto auto auto auto);
}
.background {
	
	background-image: url(../images/backgroundcirculoR.jpg);
	background-repeat: no-repeat;
	background-position: center top;
}

.imprimirencabezados
{
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12px;
	text-decoration: none;
	text-transform: none;
	vertical-align: middle;
	font-weight: bolder;
}
.imprimirencabezadosespecial
{
	color: #000000;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	line-height: 12px;
	text-decoration: none;
	text-transform: none;
	vertical-align: middle;
	font-weight: bolder;
}

.cursor {
 	cursor:hand;
 	cursor: pointer;
 }
 
.sublink {
 	font-family: Verdana, Arial, Helvetica, sans-serif;
 	font-size: 11px;
 	font-style: normal;
 	color: #FFFFFF; 
 	/* color: #003366; */
 	font-weight: bold;
 	/* background-color: #003366; */
 	/* background-color: #EAEAE8; */
 	background-color: #5998C8;
 	text-decoration: none;
}

.sublink a {
	color: #FFFFFF;
}

.sublink a:hover {
	color: #FFFFFF;
}

.sublink a:link {
	/* color: #FFFFFF; */
	color: #FFFFFF;
}

.sublink a:visited {
	color: #FFFFFF;
	/* color: #003366; */
}

.sublink a:active {
	color: #FFFFFF;
}


.tablalink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #003399;
	font-weight: bold;
	background-color: #FFFFFF;
	text-decoration: none;
	text-align: center;
}

.tablalink a {
	color: #003399;
}

.tablalink a:hover {
	color: #003399;
}

.tablalink a:link {
	color: #003399;
}

.tablalink a:visited {
	color: #003399;
}

.tablalink a:active {
	color: #003399; 
}
.cursorHand {
	cursor: hand;
	cursor: pointer;
}
.AtnBackground {
	background-image: url(../images/backgroundcirculo2.jpg);
	background-repeat: no-repeat;
	background-position: 110px 90px;
	background-attachment: fixed;
}

.sublink_scoreA {
 	font-family: Verdana, Arial, Helvetica, sans-serif;
 	font-size: 11px;
 	font-style: italic;
 	color: #FFFFFF; 
 	font-weight: bold;
 	background-color: #5998C8;
 	text-decoration: none;
}


/*nuevos estilos para Personas Fisicas*/
.titulo_leyenda {
	font-family: Arial, Verdana, Sans-serif;
	font-size: 18px;
	font-style: italic;
	color: #3A6FA5;
}

.obligatorio{
	font-family: Arial, Verdana, Sans-serif;
	font-size: 11px;
	font-style: bold;
	color: #EC2027;
}
.txt_input {
	font-family: Arial, Verdana, Sans-serif;
	font-size: 15px;
	font-style: normal;
	color: #5998C8;
	border-color: #5998C8;
}
.tbl_leyenda {
	font-family: Arial, Verdana, Sans-serif; 
	font-size: 15px;
 	font-style: bold; 
	line-height: -50px; 
	font-weight: normal;
	color: #3D71A7; 
	background-color: #5998C8; 
	
}
.label {
	font-family: Arial, Verdana, Sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #000000;
}

.label_marca {
	font-family: Arial, Verdana, Sans-serif;
	font-size:13px;
	font-style: normal;
	color: #B5B5B5;
}

.button {
	-moz-box-shadow:inset 0px 1px 41px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 41px 0px #bbdaf7;
	box-shadow:inset 0px 1px 41px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #037df7) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #037df7 100% );
	
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#037df7');
	background-color:#79bbff;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:9px;
	border-top-left-radius:9px;
	-webkit-border-top-right-radius:9px;
	-moz-border-radius-topright:9px;
	border-top-right-radius:9px;
	-webkit-border-bottom-right-radius:9px;
	-moz-border-radius-bottomright:9px;
	border-bottom-right-radius:9px;
	-webkit-border-bottom-left-radius:9px;
	-moz-border-radius-bottomleft:9px;
	border-bottom-left-radius:9px;
	text-indent:0;
	border:1px solid #84bbf3;
	/* display:inline-block; */
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	font-style:normal;
	height:24px;
	line-height:25px;
	width:98px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #287ace;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
	background-color:#4197ee;
}.button:active {
	position:relative;
	top:1px;
}

.txt_input_marcado {
	font-family: Arial, Verdana, Sans-serif;
	font-size: 15px;
	font-style: normal;
	color: #5998C8;
	border-color: #5998C8;
	background-color: #EAEAE8
}

.css_combo {
	background-color: #EAEAE8;
	font-family: Arial, Verdana, Sans-serif; 
	font-size: 10px; 
	font-weight: normal; 
	color: #3F74A9;
	text-align: left;
}
.css_combo .abajo {
	background-color: #EAEAE8;
	font-family: Arial, Verdana, Sans-serif; 
	font-size: 10px;
	color: #EAEAE8; 
	text-decoration: none;
	text-align: center;
	border-top: 1px solid #FFFFFF;
	height: 15px
}
.css_combo .abajo a {
	color: #EAEAE8; 
	text-decoration: none
}
.css_combo .abajo a:hover {
	color: #EAEAE8; 
	text-decoration: underline;
}
/* url(../images/fdo_titulo.gif); */
.t-noticias{ 
	display:block; overflow:hidden; 
	background:url(../images/Otorgantes/Noticias/t-noticias.png); 
	width:279px; 
	height:63px; 
	line-height:200px; 
}
.btn-pdf{ 
	display:block; 
	overflow:hidden; 
	background:url(../images/Otorgantes/Noticias/btn-pdf.png); 
	width:119px; 
	height:41px; 
	line-height:200px; 
	text-align:center; 
	margin:auto; 
	cursor:pointer
}
.btn-regresar{ 
		display:block; 
		overflow:hidden; 
		background:url(../images/Otorgantes/Noticias/btn-regresar.png); 
		width:116px; 
		height:44px; 
		line-height:200px; 
		text-align:center; 
		margin:auto; 
		cursor:pointer 
}
.bg-noti{ 
		background:url(../images/Otorgantes/Noticias/bg.jpg);
}
.center1{ 
	/* margin-left:200px; */
	text-align: center;
}

.textPLD {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-transform: none;
	color: #5998C8;
}


.preguntas_autenticacion {
	font-family: Arial, Verdana, Sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #000000;
}
.txt_texto_titulo {
	font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #00000;
    font-size: 11px;
    height: 24px;
    font-style: oblique;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.txt_input_find {
	background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    /* display: block; */
    font-size: 11px;
    height: 24px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.txt_texto_titulo_ {
	font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #00000;
    font-size: 11px;
    height: 24px;
    font-style: oblique;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}


.txt_texto {
	font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #00000;
    font-size: 11px;
    height: 24px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.cbo_otorgante_ {
	background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    font-size: 10px;
    height: 25px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 66%;	
}




